@font-face {
    font-family: "Fraunces";
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
}

picture>img, picture>source{

    display: block;

    width: 85vw;
    border-top-left-radius: 20px;

    @media (min-width: 680px) {
        width: 290px;
        border-bottom-left-radius: 20px;
    }

    @media (max-width: 679px) {
        border-top-right-radius: 20px;
    }

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    font-family: "Montserrat";

    @media (min-width: 680px) {
        flex-direction: row;
    }

    @media (max-width: 679px) {
        width: 40vw;
    }
}

.Informacoes{
    background-color: white;
    width: 85vw;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    
    color: hsl(228, 12%, 48%);
    font-size: 1.5vh;

    @media (min-width: 680px ) {
        height: 435px;
        width: 325px;
        padding-left: 30px;
        padding-right: 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    @media (max-width: 679px) {
        width: 85vw;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
}

#Titulo{
    margin-top: 35px;
    font-size: 1.5vh;
}

#NomeProduto{
    font-weight: 700;
    color: black;
    font-family: "Fraunces";
}

.Preco{
    display: flex;
    justify-content: start;
    font-family: "Fraunces";
    font-weight: 700;
}

#PrecoNovo{
    font-size: 2vw;
    text-align: center;
    color: hsl(158, 36%, 37%);
    margin: 20px;
    margin-left: 0px;
}

#PrecoAntigo{
    font-size: 1.5vw;
    text-decoration: line-through;
}

.AdicionarAoCarrinho{
    background-color: hsl(158, 36%, 37%);
    color: white;

    text-align: center;

    padding: 8px;
    height: 42px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: pointer;
}